In [1]:
#importing the required packages
import mysql.connector as db
import pandas as pd
import re

In [2]:
#importing the dataframe
routes_df= pd.read_csv('bus_names_and_routes.csv')
bus_details_df= pd.read_csv('bus_details_complete.csv')

## cleaning the dataframe##

In [5]:
#removing the unnamed column
routes = pd.DataFrame(routes_df, columns=['routes', 'links', 'state'])

routes

,routes,links,state
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC
1,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...,APSRTC
2,Bangalore to Tirupati,https://www.redbus.in/bus-tickets/bangalore-to...,APSRTC
3,Bangalore to Kadapa,https://www.redbus.in/bus-tickets/bangalore-to...,APSRTC
4,Ongole to Hyderabad,https://www.redbus.in/bus-tickets/ongole-to-hy...,APSRTC
...,...,...,...
303,Habra to Nandakumar (west bengal),https://www.redbus.in/bus-tickets/habra-to-nan...,WBTC (CTC)
304,Habra to Kolaghat,https://www.redbus.in/bus-tickets/habra-to-kol...,WBTC (CTC)
305,Kolkata to Mayapur ISKCON,https://www.redbus.in/bus-tickets/kolkata-to-m...,WBTC (CTC)
306,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,WBTC (CTC)
307,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC)

In [7]:
bus_details_df

,Unnamed: 0,bus name,bus type,departure,arrival,duration,price,ratings,seats free,route name
0,0,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:45,05:30,05h 45m,INR 349,4.7\n1045,42 Seats available,Vijayawada to Hyderabad
1,1,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:25,06:15,06h 50m,INR 329,4.7\n829,36 Seats available,Vijayawada to Hyderabad
2,2,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:45,05:45,07h 00m,INR 339,4.5\n735,42 Seats available,Vijayawada to Hyderabad
3,3,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),22:10,05:30,07h 20m,INR 999,3.8\n128,31 Seats available,Vijayawada to Hyderabad
4,4,FRESHBUS,Electric A/C Seater (2+2),05:20,12:05,06h 45m,449,4.7\n359,39 Seats available,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...,...
13954,13954,WBTC (CTC) HABRA-DIGHA via Bally - 26|04:30,Non AC Seater (2+3),04:30,08:10,03h 40m,INR 130,4.3\n5,26 Seats available,Habra to Heria
13955,13955,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:15,Non AC Seater (2+3),05:15,08:35,03h 20m,INR 130,4.2\n9,33 Seats available,Habra to Heria
13956,13956,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:35,Non AC Seater (2+3),05:35,08:55,03h 20m,INR 130,4.7\n4,26 Seats available,Habra to Heria
13957,13957,WBTC (CTC) HABRA-DIGHA via Bally - 26|06:55,Non AC Seater (2+3),06:55,10:45,03h 50m,INR 130,3.0\n1,38 Seats available,Habra to Heria
13958,13958,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,16:40,03h 55m,INR 130,4.2,44 Seats available,Habra to Heria

In [17]:
#removing the unnamed column
bus_details = pd.DataFrame(bus_details_df, columns=['bus name', 'bus type', 'departure', 'arrival', 'duration', 'price', 'ratings', 'seats free', 'route name'])

In [19]:
#cleaning the data converting the price to float datatype
bus_details['price'] = bus_details['price'].str.replace('INR', "")
bus_details['price'] = bus_details['price'].astype(float)

In [21]:
# removing the unwanted text in ratings
bus_details['ratings'] = bus_details['ratings'].apply(lambda x: re.sub(r'\n\d+', '', x))

In [23]:
bus_details

,bus name,bus type,departure,arrival,duration,price,ratings,seats free,route name
0,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:45,05:30,05h 45m,349.0,4.7,42 Seats available,Vijayawada to Hyderabad
1,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:25,06:15,06h 50m,329.0,4.7,36 Seats available,Vijayawada to Hyderabad
2,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:45,05:45,07h 00m,339.0,4.5,42 Seats available,Vijayawada to Hyderabad
3,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),22:10,05:30,07h 20m,999.0,3.8,31 Seats available,Vijayawada to Hyderabad
4,FRESHBUS,Electric A/C Seater (2+2),05:20,12:05,06h 45m,449.0,4.7,39 Seats available,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...
13954,WBTC (CTC) HABRA-DIGHA via Bally - 26|04:30,Non AC Seater (2+3),04:30,08:10,03h 40m,130.0,4.3,26 Seats available,Habra to Heria
13955,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:15,Non AC Seater (2+3),05:15,08:35,03h 20m,130.0,4.2,33 Seats available,Habra to Heria
13956,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:35,Non AC Seater (2+3),05:35,08:55,03h 20m,130.0,4.7,26 Seats available,Habra to Heria
13957,WBTC (CTC) HABRA-DIGHA via Bally - 26|06:55,Non AC Seater (2+3),06:55,10:45,03h 50m,130.0,3.0,38 Seats available,Habra to Heria
13958,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,16:40,03h 55m,130.0,4.2,44 Seats available,Habra to Heria

## creating and inserting datas ##

In [25]:
# connecting the mysql database
conn = db.connect(
    host = 'localhost',
    user ='root',
    password = 'Prototype_15'
)

curr = conn.cursor()

In [27]:
# creating a database
curr.execute('create database if not exists redbus_project1')
curr.fetchall()

[]

In [29]:
# creating the table to store route, link and state name
curr.execute('''create table if not exists redbus_project1.routes_and_states(
routes varchar(255),
links varchar(255),
state varchar(255)
)''')

In [31]:
# inserting the values

query = '''insert into redbus_project1.routes_and_states(routes, links, state)
values(%s, %s, %s)'''

values = routes.values.tolist()

curr.executemany(query, values)
conn.commit()

# creating sql query on bus-details ##

In [33]:
# creating the table to store bus details
curr.execute('''create table if not exists redbus_project1.bus_details_redbus(
bus_name varchar(255),
bus_type varchar(255),
departure varchar(255),
arrival varchar(255),
duration varchar(255),
price float,
ratings varchar(255),
seats_free varchar(255),
route_name varchar(255) not null

) ''')

curr.fetchall()
print('bus details table creted successfully')

bus details table creted successfully

In [35]:
bus_details

,bus name,bus type,departure,arrival,duration,price,ratings,seats free,route name
0,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:45,05:30,05h 45m,349.0,4.7,42 Seats available,Vijayawada to Hyderabad
1,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:25,06:15,06h 50m,329.0,4.7,36 Seats available,Vijayawada to Hyderabad
2,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:45,05:45,07h 00m,339.0,4.5,42 Seats available,Vijayawada to Hyderabad
3,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),22:10,05:30,07h 20m,999.0,3.8,31 Seats available,Vijayawada to Hyderabad
4,FRESHBUS,Electric A/C Seater (2+2),05:20,12:05,06h 45m,449.0,4.7,39 Seats available,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...
13954,WBTC (CTC) HABRA-DIGHA via Bally - 26|04:30,Non AC Seater (2+3),04:30,08:10,03h 40m,130.0,4.3,26 Seats available,Habra to Heria
13955,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:15,Non AC Seater (2+3),05:15,08:35,03h 20m,130.0,4.2,33 Seats available,Habra to Heria
13956,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:35,Non AC Seater (2+3),05:35,08:55,03h 20m,130.0,4.7,26 Seats available,Habra to Heria
13957,WBTC (CTC) HABRA-DIGHA via Bally - 26|06:55,Non AC Seater (2+3),06:55,10:45,03h 50m,130.0,3.0,38 Seats available,Habra to Heria
13958,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,16:40,03h 55m,130.0,4.2,44 Seats available,Habra to Heria

In [37]:
# inserting into the table
query = '''insert into redbus_project1.bus_details_redbus(bus_name, bus_type, departure, arrival, duration, price, ratings, seats_free, route_name)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s)'''

values = bus_details.values.tolist()

curr.executemany(query, values)

conn.commit()

print('values inserted successfully')

values inserted successfully

## datas inserted into the query